button{    
    border: none;
    border-radius: 0.375rem; 
    padding: 0.375rem 0.75rem;  
}

.enviar{
    @extend button;
    
}   

.restablecer{
    @extend button;
    background-color: aquamarine;
}