//body
$colordefondobody: rgb(96, 207, 98);
$fuenteprimaria: Helvetica, Arial, sans-serif;
$imagenfondo: url("../assets/fondo.png");

//fuentes
$fuenteprimaria: Helvetica, Arial, sans-serif;
$coltitulos: red;

//media queris
$tablet: 768px;
$desktop: 992 px;