//body
$colordefondobody: rgb(96, 207, 98);
$imagenfondo: url("../assets/fondo.png");

//fuentes
$fuenteprimaria: cambria, Helvetica, Arial, sans-serif;


//media queris
$tablet: 768px;
$desktop: 992 px;

//maps
$estilos: (
    color: blueviolet,
    colorfondo: #f4b5b5,
    colortitulo: #663f61,
    centro: center,
    tFuente: 4rem
    );

