//body
$colordefondobody: rgb(96, 207, 98);
$fuenteprimaria: Helvetica, Arial, sans-serif;
$imagenfondo: url("../assets/fondo.png");

//fuentes
$fuenteprimaria: Helvetica, Arial, sans-serif;
$coltitulos: red;

//media queris
$tablet: 768px;
$desktop: 992 px;

//maps
$estilos: (
    color: blueviolet,
    colorfondo: #f4b5b5,
    colortitulo: rgb(38, 0, 255),
    centro: center,
    tFuente: 1.875rem
    );