* {
    margin: 0;
    padding: 0; 
}

.contenedor {
    width: 90%;
    padding: 20px auto; 
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-row: repeat(3, auto);
    grid-template-areas: "header nav nav"
                         "section section section"
                         "footer footer footer" ;
}

.contenedor header, nav, section, footer {
    background: rgb(221, 201, 240);
    background-image: linear-gradient(-45deg, #bd73ee, rgb(221, 201, 240), rgb(241, 159, 121));
    border: solid rgb(235, 233, 129) 4px;
    border-radius: 15px;
     }

.contenedor header {
        grid-column: span 1; 
        grid-area: header;
         }
         
.contenedor nav {
            grid-column: 2 / 4;
            grid-area: nav;
        }

.contenedor section {
            grid-column: span 3;
            grid-area: section;
        }

.contenedor footer {
       grid-column: span 3;
       grid-area: footer; 
         }

body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url("../assets/fondo.png");
    background-size: cover;
    }

h1{
    color:rgb(38, 0, 255); 
    font-size: 30px;
    text-align: center;
}

.animacion{
    animation-duration: 1s;
    animation-name: aparece;
    animation-iteration-count: infinite;
}

@keyframes aparece {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

p{
    color:blueviolet; font-size: 15px;
}

section {
    padding: 50px 30px 20px 60px;
    margin-left: 40px;
    display: flex;
    gap: 20px;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    
    }

    div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }


header {
        padding: 50px 30px 20px 60px;
        margin-left: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        }
    
section article {
    padding: 5px;
    background-color: #f4b5b5;
    border-radius: 15px;
    }

    
    
section article p {
    line-height: 20px;
    }



footer {
        padding: 50px 30px 20px 60px;
        margin-left: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        }

nav {
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 75%;
    display: flex;
    flex-direction: column;

}

section div > a {
    border-radius: 4px;
    border: solid rgb(222, 135, 240) 5px;
}

section div > img {
    border-radius: 4px;
    
}

.galeriaImagenes a:hover{
    transform: scale(1.2) ;
    transition: all 1s;
    
}


.menu {
    list-style-type: none;
    text-align: left;    
    }

.pie{
    list-style-type: none;
    text-align: center;
}

li{
    float: left;
    width: auto;
    padding: 5px;
}

.logo{
    background-image: url("../assets/logo.jpg");
    width: 150px;
    height: 150px;
    background-size: cover;

    
}

@media (max-width: 768px) {
   .contenedor{    
    grid-template-areas: "header header header "
                         "nav nav nav"
                         "section section section"
                         "footer footer footer";
   }

}
