* {
    margin: 0;
    padding: 0; 
}


.animacion{
    animation-duration: 1.5s;
    animation-name: aparece;
    animation-iteration-count: infinite;
}

@keyframes aparece {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



section {
    padding: 50px 30px 20px 60px;
    margin-left: 40px;
    display: flex;
    gap: 20px;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    
    }


header {
        padding: 50px 30px 20px 60px;
        margin-left: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        }
    


footer {
        padding: 3.125rem 1.875rem .25rem 3.125rem;
        margin-left: 2.5rem;
        }

footer ul li a img{
    width: 1.5em;
    display: flex;
}

form{
    width: 75%;
    display: flex;
    flex-direction: column;

}

section div a img{
    border-radius: 0.5rem;
    border: solid #663f61 0.3rem;
}




.videoinicio{
    display: flex;
    justify-content: center;
  
}

video{
    border: solid 0.25rem #663f61;
    border-radius: 0.25rem;
}

.galeriaImagenes a img:hover{
    transform: scale(1.2) ;
    transition: all 1s;
    
}

.carousel-inner img{
    height: 30rem;
    border: solid 0.35rem #663f61;
    border-radius: 0.5rem;
    
}


header a img{
    border-radius: 2rem;
    width: 15rem;
    height: 15rem; 
    
}

